.intro__list {
    width: 690px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFF;
    margin: 0;
    list-style-type: none;
    padding: 0;
}