.footer__link {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer__link {
      flex-direction: column;
      gap: 32px;
    }
}